@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdf{
    margin-bottom: 5rem;
}